<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cachacadigital"
                      transaction-type="RESOURCE_LOCAL">
        <class>com.wwsistemas.cachacadigital.entity.Categoria</class>
        <class>com.wwsistemas.cachacadigital.entity.Produto</class>
        <class>com.wwsistemas.cachacadigital.entity.Estado</class>
        <class>com.wwsistemas.cachacadigital.entity.Cliente</class>
        <class>com.wwsistemas.cachacadigital.entity.Venda</class>
        <class>com.wwsistemas.cachacadigital.entity.Produto_venda</class>
        <class>com.wwsistemas.cachacadigital.entity.Producao</class>
    </persistence-unit>
</persistence>
