/* Define your theme modifications inside next mixin */
@mixin com_wwsistemas_cachacadigital-halo-ext {
/*.v-button.v-widget.c-primary-action.v-button-c-primary-action.icon {
           background: green;
           border: green;
       }

         .v-button.v-widget.icon {
             background: red;
             border: red;
         } */
}